extends ../templates/_main.pug
include ../helpers/mixins.pug

block link-active
  - header = true

block content

  section.promo.mb140
    .promo__inner.container

      .promo__content
        h1.promo__title.title.text-forum Пошив корпоративной одежды под ключ в&nbsp;Иркутске
        p.promo__text.size-4 Разрабатываем и отшиваем все&nbsp;виды корпоративной одежды под любые задачи бизнеса
        a.promo__link.btn-2(href="#services") посмотреть услуги

      .promo__picture
        figure.promo__img-wrap
          +img-retina(`promo-bg`, `png`, `Пошив корпоративной одежды`, `promo__img`, `670`, `616`)

  section.services.mb140
    .services__inner.container#services
      .services__column-left.services-promo
        h2.services__title.title.text-forum Услуги
        p Разрабатываем и отшиваем все виды корпоративной одежды под любые задачи бизнеса
        a.services-promo__link.btn-2(href="#modal-request" rel="modal:open") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
        figure.services-promo__img-wrap
          +img-retina(`bust`, `png`, `все виды корпоративной одежды`, `services-promo__img`, `365`, `323`)

      .services__column-right.services-type
        ul.services-type__list
          each item, i in services_type
            li.services-type__item
              figure.services-type__img-wrap
                +img(`type-${i+1}`, `png`, `${item[0]}`, `services-type__img`, `210`, `140`)

              .services-type__box
                h3= `${item[0]}`
                p= `${item[1]}`

  section.scenario
    .scenario__inner.container
      h2.scenario__title.title.text-forum Как именно мы<br> ”приоденем” ваш бизнес
      ul.scenario__list
        each item, i in scenario_list
          li.scenario__item
            .scenario__box
              figure.scenario__img-wrap
                +img(`scenario-${i+1}`, `jpg`, `${item[0]}`, `scenario__img`, `250`, `250`)

            .scenario__block
              p.scenario__num= `${i+1}`
              .scenario__content
                h3= `${item[0]}`
                p= `${item[1]}`

                if `${item[2]}` !== `none`
                  p= `${item[2]}`

      a.scenario__link.btn-1.hover-opacity(href="#") Посмотреть весь процесс

  section.customers
    .customers__inner.container
      h2.customers__title.title.text-forum Наши заказчики – представители крупных компаний и малого бизнеса
      p.customers__text.size-4 Гордимся каждым выполненным нами проектом

      ul.customers__list
        -let n = 0
        while n < 4
          -n++
          li.customers__item.customers-item
            .customers__glightbox.glight-box
              if n < 3
                a.glight-box__link.glightbox(href="/img/gall@2x.jpg" data-gallery="gallery")
                  +img-retina(`gall`, `jpg`, `Наши заказчики`, `glight-box__img`, `630`, `400`)

              else 
                a.glight-box__link.glight-box__link--video.glightbox(href="https://youtu.be/AkoKHxKXkAE" data-gallery="gallery")
                  +img-retina(`gall`, `jpg`, `Наши заказчики`, `glight-box__img`, `630`, `400`)

            .customers-item__block
              h3
                // последний класс совпадает с id модального окна
                a.customers-item__title-link.hover-opacity.modal-case__link-open.modal-case-fairytale(href="#modal-case") Полная упаковка текстилем ресторана "Сказка”
                 
              p Разрабатываем и отшиваем все виды корпоративной одежды под любые задачи ваши бизнеса
              // последний класс совпадает с id модального окна
              a.customers-item__link.hover-opacity.modal-case__link-open.modal-case-fairytale(href="#modal-case") подробнее о проекте
                +svg_my(`arr`,`customers-item__link-icon`)

      button.customers__btn.btn-1.hover-opacity(href="#") Посмотреть все проекты

  section.confidence
    .confidence__inner.container     
      h2.confidence__title.title.text-forum Колибри - это уверенность

      p.confidence__text.size-4 Вот уже 25 лет, день за днем, мы думаем, ищем, анализируем, изобретаем, рискуем для того, чтобы сделать лучшее предложение.

      ul.confidence__list 
        li.confidence__item.confidence__item--large 
          figure.confidence__img-wrap.confidence__img-wrap--large
            +img-retina(`confidence-1`, `jpg`, `Колибри - это уверенность`, `confidence__img`, `852`, `480`)

        li.confidence__item.confidence__item--middle 
          figure.confidence__img-wrap.confidence__img-wrap--middle
            +img-retina(`confidence-2`, `jpg`, `Колибри - это уверенность`, `confidence__img`, `727`, `408`)

        li.confidence__item.confidence__item--small 
          figure.confidence__img-wrap.confidence__img-wrap--small
            +img-retina(`confidence-3`, `jpg`, `Колибри - это уверенность`, `confidence__img`, `452`, `409`)

  section.team
    .team__inner 
      .team__top.container
        h2.team__title.title.text-forum Команда, <br>которая “приоденет”<br> ваш бизнес

        p.team__text.size-4 Вот уже 25 лет, день за днем, мы думаем, ищем, анализируем, изобретаем, рискуем для того, чтобы сделать лучшее предложение.
      .team__block-wrap.tablet-hidden
        .team__block.tablet-hidden
          .team__target.target  
            .target__mark 
            .target__text 
              h3 Наталья Счастливая
              p Ведущий специалист отдела маркетинга

          figure.team__img-wrap 
            picture 
              //- source(media="(max-width: 600px)" srcset="/img/case-top-600w.jpg")
              source(srcset="/img/team.png 1x, /img/team@2x.png 2x")
              img(class="team__img" src="/img/team.png" alt="ресторан Сказка”" width="1100" height="645" loading="lazy")

      .team__block-slider.tablet-visibility.team-slider.container
        ul.team-slider__list  
          -n=0
          while n<3
            -n++
            li.team-slider__item  
              figure.team-slider__img-wrap  
                +img(`man-t`, `jpg`, `сотрудник`, `team-slider__img`, `600`, `700`)

              .team-slider__text 
                p.team-slider__name Петр Внимательный
                p.team-slider__job Сотрудник службы безопасности


    

  section.result
    .result__inner.container 
      .result__top 
        h2.result__title.title.text-forum Работаем <br>на результат 
        p.result__text.size-4 Посмотрите отзывы компаний, <br>которым мы помогли ”приодеть” бизнес
      ul.result__list   
        - n=0
        while n < 6
          -n++
          li.result__item
            a.result__link.glightbox(href="https://youtu.be/AkoKHxKXkAE" data-gallery=`gallery-${n}`)
              +img-retina(`result`, `jpg`, `Наши заказчики`, `result__img`, `292`, `520`)


  section.faq 
    .faq__inner.container
      .faq__col-left 
        h2.faq__title.title.text-forum.tablet-hidden У нас часто спрашивают
        p.faq__text.size-4 Задайте нам вопрос онлайн, в любом удобном для вас мессенжере 
        figure.faq__img-wrap  
          ul.faq__social.socials  
            li.socials__item  
              a.socials__link.socials__link-vb(href="https://viber.click/79501339299" aria-label="мы в viber" rel="noopener" target="_blank")
            li.socials__item  
              a.socials__link.socials__link-wp(href="https://api.whatsapp.com/send/?phone=79501339299&text&app_absent=0" aria-label="мы в watsapp" rel="noopener" target="_blank")
            li.socials__item  
              a.socials__link.socials__link-tg(href="https://tttttt.me/rus_alex" aria-label="мы в telegramm" rel="noopener" target="_blank")

      .faq__col-right
        h2.faq__title.title.text-forum.tablet-visibility У нас часто спрашивают
        .accordion__list(data-accordion-group)
          -n=0
          while n<3
            -n++
            .accordion__item.accordion(data-accordion) 
              .accordion__control(data-control) 
                h3 Можете ли вы произвести партию по моему образцу?
              .accordion__content(data-content) 
                p Да, это возможно. Мы строим лекала как по эталону-образцу, так и по фото, делаем градацию размерной сетки по вашим требованиям и запускаем партию в производство.


  section.contacts
    .contacts__inner.container 
      .contacts__top 
        h2.contacts__title.title.text-forum Контакты
        
        .contacts__phone 
          p.contacts__term.size-3 Телефон:
          p.contacts__data.size-3 8 (800) 600-52-65
        
        .contacts__phone 
          p.contacts__term.size-3 Адрес:
          p.contacts__data.size-3 ул. Тимирязева, 29, Иркутск
        
        a.contacts__link.btn-1(href="#modal-request" rel="modal:open") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
      
      .contacts__map#map


      